body {
  margin: 20 10;
  font-family: Georgia;
}
h1,h2,h3,h4,h5,h6 {
  padding: 2pt 0;
  margin: 0;
  font-family: Futura;
}
table, th, td {
  border: 1pt solid black;
  border-collapse: collapse;
}
div.tennis_court {
  padding: 4pt;
}
table {
  margin: 1rem 1rem;
}
table td, table th {
  padding: 4pt 4pt;
  text-align: center;
}
table#lessons td { padding: 1rem; }
table#courts div.date { width: 70pt;  text-align:center;   }
table#courts div.time { width: 40pt;  text-align:center;   }
table th, table td.date-cell {
  background: #999;
  color: white;
}

#footer {
  text-align: center;
  margin-top: 40pt;
  font-size: 10pt;
}

#error {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: red;
  padding: 20 20;
  margin: auto;
  width: 500pt;
  display: none;
}

#corona {
  font-size: 3em;
  color: #CF57BD;
  font-weight: bold;
  margin: 80pt 80pt;
}
