body {
  font-family: Georgia;
}
h1,h2,h3,h4,h5,h6 {
  padding: 2pt 0;
  margin: 0;
  font-family: Futura;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
div.tennis_court {
  padding: 5 5 5 5;
}
