body {
  font-family: Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: "Arial Black", Gadget, sans-serif;
}
ul {
  margin: 0;
}
li {
  margin: 0.5em 0;
}
#content-wrapper {
  max-width: 800pt;
  margin: auto;
}
#iframe-promo {
  margin: 40pt 0pt;
}
#iframe-section {
  margin: 40pt 0pt;
}

#footer {
  text-align: center;
  margin-top: 40pt;
  font-size: 10pt;
}
#promo {
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  color: #aaa;
  margin-top: 4em;
}
#image {
  float: left;
  height: 100%;
  margin-right: 5pt;
}
#iframe-hed {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15pt;
  margin-bottom: 0.4em;
}
#iframe-subhed {
  color: #555;
  margin-bottom: 0.4em;
  font-style: italic;
}
#iframe-website {
  font-size: 25pt;
}
