
h1,h3{
  text-align: center;
  line-height: 1.8em;
}
h1 {
  font-family: Zapfino, Brush Script MT, cursive;
}
#promo {
  font-size: 0.9em;
}
#content-wrapper {
  max-width: 600pt;
  margin-top: 3em;
}
div.explainer {
  margin: 20pt 0pt;
}
#textarea-wrapper {
  text-align: center;
}
