#content-wrapper {
  text-align: center;
  max-width: 700pt;
}
#logo {
  max-width: 250pt;
}
@media only screen and (max-width: 300pt) {
  #logo {
    max-width: 100%;
  }
}

.or-section {
  margin: 10pt 10pt;
}

#info-section {
  max-width: 350pt;
  padding: 30pt 20pt;
  text-align: left;
  font-size: 1.3em;
}
#player #listen-hed {
  font-style: italic;
  margin-bottom: 4pt;
}

.podcast-directory-logo {
  width: 50px;
  height: 50px;
}

#testimonials_section {
  margin: 20pt 30pt;
  text-align: left;
}
#testimonials_section li {
  margin-bottom: 8pt;
}

#podcast-content {
  float: left;
  width: 60%;
}

@media only screen and (max-width: 500pt) {
  #podcast-content {
    float: none;
    width: 100%;
  }

  #testimonials_section {
    width: 100%;
    margin: 20pt 0;
  }
}
