

.wordmark {
  font-family: Zapfino, Brush Script MT, cursive;
  font-size: 1em;
  line-height: 3.5em;
}

#header {
  text-align: center;
  margin-bottom: 40pt;
}

div#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25pt;
}

#header div#logo-container .wordmark {
  margin-top: 1em;
	font-size: 40pt;
  line-height: 2em;
}
#header h2, #header h3 {
  margin-top: 0;
  margin-bottom: 10pt;
}
img#logo {
  height: 120pt;
}
@media only screen and (max-width: 1000px) {
  #header div#logo-container .wordmark {
  	font-size: 20pt;
    line-height: 2em;
  }
  img#logo {
    height: 80pt;
  }
}

.button {
 background-color: #64A3EC; /* blue */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 1.4em;
   border-radius: 8pt;
   font-family: "Arial Black", Gadget, sans-serif;
   letter-spacing: 0.5pt;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
  background-color: #6196C8; /* slightly darker blue */
}
.button:active {
  background-color: #5482AD; /* even darker blue */
}
.button a, .button a:visited {
  color: white;
  text-decoration: none;
}

.download-icon {
  float: left;
  margin-right: 8pt;
  padding-top: 3pt;
}

.download-button {
  margin: 0 10pt 10pt 10pt;
}
#demo_mov {
  float: right;
  margin-left: 40pt;
}
#demo_mov video {
  border: 2pt solid #bbb;
}
@media only screen and (max-width: 1000px) {
  #demo_mov {
    float: none;
    margin-left: auto;
    text-align: center;
  }
  #demo_mov video {
    max-width: 100%;
  }
}
#description {
  line-height: 1.8em;
}
#description ul {
  margin-top: 0;
}
.smaller {
  font-size: 0.8em;
}
#twitter-logo {
  height: 1em;
}
