body {
  font-size: 30pt;
}
.wordmark {
  font-family: "Arial Black", Gadget, sans-serif;
}
h6 {
  font-style: italic;
}
li {
  margin-bottom: 1.5em;
  margin-left: 1em;
}
#hed {
  margin-bottom: 2em;
}
.project-info {
  font-size: 0.65em;
  color: #555;
  font-style: italic;
}
.project-section {
  /* float: left; */
  width: 350pt;
  height: 125pt;
  margin: 10pt 20pt;
}
.project-section  img {
  width: 100pt;
}
.project-section .img-logo, .project-section .html-logo {
  height: 110pt;
}
.project-section .text-logo {
  width: 100pt;
  height: 110pt;
  font-size: 100pt;
  line-height: 100pt;
  text-align: center;
}
.project-section .img-logo, .project-section .html-logo, .project-section .text-logo {
  float: left;
  padding-right: 12pt;
}
#promo {
  font-size: 0.6em;
}

@media only screen and (max-width: 1000pt) {
  body {
    font-size: 20pt;
  }
}
@media only screen and (max-width: 500pt) {
  body {
    font-size: 15pt;
  }
  .project-section {
    height: 275pt;
    margin-left: 0;
    margin-right: 0;
  }
}
